<% content_for(:title, t('.title')) %>
<div class="mx-auto flex justify-center mb-6">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScD3BuYwDONXZaC-duCt6KLRvgIpCG5XIybPyXcVorS4nkn4g/viewform?embedded=true" width="640" height="1200" frameborder="0" marginheight="0" marginwidth="0">
    読み込んでいます…
  </iframe>
</div>
