<div class="min-h-screen">
  <div class="container pt-8 pl-7">
    <div class="max-w-xl">
      <p class="text-base pb-2">持ち物を整理し、新しいアイデアを取り入れてみましょう。</p>
      <p class="text-base">より良い準備をサポートします！</p>
    </div>
  </div>
</div>
