<% if item_status.present? %>
  <turbo-frame id="<%= dom_id(item_status) %>" class="w-full max-w-md">
    <%= button_to (item_status.original_item&.name || item_status.default_item&.name),
                  toggle_item_status_path(item_status),
                  method: :patch,
                  class: "btn w-full flex justify-start text-left px-4 #{item_status.is_checked ? 'btn-active' : 'btn-inactive'} #{item_status.is_checked ? 'bg-secondary border-0 shadow' : 'bg-base-100'}" %>
  </turbo-frame>
<% else %>
  <!-- アイテムが選択されている場合の表示を追加 -->
  <turbo-frame class="w-full max-w-md">
    <span>No item selected</span> <!-- 適宜メッセージや他の内容を表示 -->
  </turbo-frame>
<% end %>
