<%= link_to bookmarks_path(bookmarkable: bag_content), id: "bookmark-button-for-bag_content-#{bag_content.uuid}", data: { turbo_method: :post } do %>
  <span class="material-symbols-outlined  size-30 text-primary dark:text-neutral">bookmark</span>
<% end %>
