<%= link_to bookmark_path(current_user.bookmarks.find_by(bookmarkable: bag_content)), id: "unbookmark-button-for-bag_content-#{bag_content.uuid}", data: { turbo_method: :delete } do %>
  <span class="material-symbols-outlined  size-30 text-primary dark:text-neutral" style="font-variation-settings: 'FILL' 1;">bookmark</span>
<% end %>
