<div>
  <div class="flex flex-col justify-center">
    <div class="fixed top-16 right-0 left-0 z-30 flex justify-center p-4 bg-base-100 sticky">
      <%= form_with model: @search_form, url: bag_contents_path, method: :get, local: true do |f| %>
        <div class="input-group flex items-center justify-center gap-4 mb-12">
          <%= f.text_field :search_term, name: 'q[search_term]', class: "border border-gray-300 bg-slate-50 rounded-md shadow-sm px-3 py-2 focus:outline-none focus:ring-1 focus:ring-blue-500", placeholder: "持ち物・行き先" %>
          <%= f.submit t("defaults.search_word"), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <div class="flex flex-wrap justify-center gap-8">
      <% if @bag_contents.present? %>
        <%= render @bag_contents %>
      <% else %>
        <p class="text-center text-gray-500">投稿が見つかりませんでした</p>
      <% end %>
    </div>
  </div>
</div>
