<% content_for(:title, t('.title')) %>
<div class="container mx-auto pt-3 p-2 md:pl-12 py-24">
  <div class="flex flex-col justify-start items-start bg-base-100">
    <div class="flex flex-col items-start bg-base-100">
      <div class="flex items-center mb-6">
        <span class="material-symbols-outlined md:text-2xl text-primary" style="font-variation-settings: 'FILL' 1;">work</span>
        <h1 class="text-base md:text-lg font-medium ml-3"><%= t('.title') %></h1>
      </div>
      <%= render 'search_form', q: @q, url: bag_contents_path %>
    </div>

    <% if @bag_contents.present? %>
      <div class="flex flex-wrap justify-start gap-5 md:gap-10 mt-6 md:mt-12">
        <%= render @bag_contents %>
      </div>
    <% else %>
      <p class="w-full text-center md:text-left text-sm md:text-base text-gray-500 mt-12">投稿が見つかりませんでした</p>
    <% end %>
  </div>
</div>
