<div class="fixed top-0 z-50 flex h-16 w-full items-center md:pl-1 shadow bg-base-100 dark:shadow-neutral">
  <nav class="navbar w-full">
    <div class="flex justify-between w-full">
      <div class="flex items-center">
        <%= link_to "/", class: "btn btn-ghost flex items-center gap-4" do %>
          <%= image_tag "logo.png", class: "w-7 md:w-9 object-contain" %>
          <h1 class="text-lg md:text-xl font-bold tracking-wider">All Ready</h1>
        <% end %>
      </div>
      <div class="flex items-center gap-6 mr-4 font-semibold">
        <div data-controller="theme" class="flex items-center">
          <label class="swap swap-rotate">
            <input type="checkbox" data-theme-target="toggle" data-action="change->theme#toggle" />
            <span class="material-symbols-outlined swap-off" id="theme-toggle-light-icon">light_mode</span>
            <span class="material-symbols-outlined swap-on" id="theme-toggle-dark-icon">dark_mode</span>
          </label>
        </div>
        <%= link_to new_user_session_path, class: "btn btn-sm md:btn btn-primary text-sm text-white md:text-white md:px-5 flex items-center" do %>
          <span class="material-symbols-outlined md:mr-2">login</span>
          <%= t('header.login') %>
        <% end %>
      </div>
    </div>
  </nav>
</div>
