<% flash.each do |message_type, message| %>
  <div class="<%= flash_background_color(message_type) %> max-w-md mx-auto text-center text-xs border rounded-full my-4 px-4 py-2">
    <%= message %>
  </div>
<% end %>
