<footer class="footer flex justify-between fixed bottom-0 bg-base-100 text-base-content px-6 py-4 bg-opacity-70">
  <div class="flex space-x-6">
    <%= link_to "利用規約", terms_path %>
    <%= link_to "プライバシーポリシー", privacy_policy_path %>
    <%= link_to "お問い合わせ", inquiry_form_path %>
  </div>
  <p class ="flex justify-end">© 2024. All Ready</p>
</footer>
