<div class="flex p-4">
  <div>
    <%= link_to item_lists_path(item_list), id: "item_list-id-#{item_list.id}" do %>
      <%= render 'item_list_card', item_list: item_list %>
    <% end %>
  </div>
</div>
