<% content_for(:title, t('.title')) %>
<div class="container mx-auto pt-3 pl-2 md:pl-12 py-24">
  <div class="flex justify-start items-center bg-base-100">
    <div class="flex items-center">
      <span class="material-symbols-outlined md:text-2xl text-primary" style="font-variation-settings: 'FILL' 1;">playlist_add</span>
      <h1 class="text-base md:text-lg font-medium ml-3"><%= t('.title') %></h1>
    </div>
  </div>

  <% if @item_lists.present? %>
    <div class="flex flex-wrap justify-start gap-5 md:gap-10 mt-6 md:mt-12">
      <%= render @item_lists %>
    </div>
  <% else %>
    <p class="text-center text-sm md:text-base text-gray-500 m-12">持ち物リストが見つかりませんでした</p>
  <% end %>
</div>
<button class="fixed bottom-28 right-5 md:right-20 z-60 bg-gradient-to-t from-primary to-cyan-500 text-white font-bold
  rounded-full text-base md:text-lg p-4 md:p-5 flex items-center justify-center shadow transition-all duration-300 hover:brightness-110"
  onclick="document.getElementById('addItemList').showModal()">
  <span class="material-symbols-outlined text-2xl">add</span>
</button>

<dialog id="addItemList" class="modal">
  <div class="modal-box bg-slate-50 w-96 mx-auto flex flex-col items-center py-12 dark:bg-base-200">
    <%= form_with model: @item_list, url: item_lists_path, local: true do |f| %>
      <label class="form-control w-full max-w-xs">
        <input type="text" placeholder="リストの名前" name="item_list[name]" class="input input-bordered w-full max-w-xs" required />
      </label>
      <div class="mt-4">
        <%= f.submit '決定', class: "btn btn-primary w-full" %>
      </div>
    <% end %>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn btn-ghost">キャンセル</button>
      </form>
    </div>
  </div>
</dialog>
