<%= link_to bookmarks_path(bookmarkable: recommend), id: "bookmark-button-for-recommend-#{recommend.uuid}", data: { turbo_method: :post } do %>
  <span class="material-symbols-outlined text-primary dark:text-neutral">bookmark</span>
<% end %>
