<% content_for(:title, t('.title')) %>
  <div class="flex items-center justify-center p-5">
    <div class="max-w-md w-full mx-auto bg-slate-50 p-6 rounded shadow dark:bg-base-200">
      <div class="flex items-center space-x-4">
        <h1 class="text-lg font-medium mb-6"><%= t('.title') %></h1>
      </div>
      <%= render 'form', recommend: @recommend, submit_label: I18n.t('recommends.edit.submit_label') %>
      <% if user_signed_in? && current_user.own?(@recommend) %>
        <%= link_to t('recommends.delete.submit_label'), recommend_path(@recommend), id: "button-delete-#{@recommend.uuid}", data: {turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm')}, class: "p-2 btn btn-base-300 w-full mt-4 dark:btn-outline" %>
      <% end %>
    </div>
  </div>
