<% content_for(:title, t('.title')) %>
  <div class="fixed top-16 right-0 left-0 z-30 flex justify-center p-4 bg-base-100 sticky">
    <%= link_to 'マストアイテムを紹介', new_recommend_path, class: "btn btn-primary" %>
  </div>
  <div class="flex flex-wrap justify-center gap-8 mt-6">
    <% if @recommends.present? %>
      <% @recommends.each do |place, recommends| %>
        <div class="card shadow rounded p-5 flex flex-col w-full max-w-lg bg-secondary">
          <%= link_to by_place_recommends_path(place), class: "block h-full" do %>
            <h2 class="text-lg font-semibold text-center"><%= place %></h2>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="mb-3 text-center text-gray-500">マストアイテムが見つかりませんでした</div>
    <% end %>
  </div>
