@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Zen Kaku Gothic New';
  src: url('ZenKakuGothicNew-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
